@model CookbookPI.Models.Entities.Users

@{
    ViewData["Title"] = "Profile";
}

<h1>Informacje o koncie</h1>
<hr/>
<div>
    <dl class="row">
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.DateOfRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.ID_Permission)
        </dt>
        <dd class="col-sm-10">
            @switch (Context.Session.GetInt32("Permission"))
            {
                case 1:
                    <text>Użytkownik</text>
                    break;
                case 2:
                    <text>Moderator</text>
                    break;
                case 3:
                    <text>Administrator</text>
                    break;
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
